<%= form_with(model: room, local: true) do |form| %>
  <% if room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :room_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :room_description %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :room_price %>
  </div>

  <div class="field">
    <%= form.label :rules %>
    <%= form.text_area :rules, id: :room_rules %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :room_address %>
  </div>
  <div class="field">
    <%= form.label :city_id %>
    <%= form.collection_select :city_id,City.all,:id,:name,prompt:"select a city"%>
  </div>
  <br>
  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>
  <h4>amenities</h4>
    <%= form.collection_check_boxes :amenity_ids,Amenity.all,:id,:name do |amenity|%>
        <%= amenity.check_box%>
        <%= amenity.text%>
    <%end%>
  <br>
  <div class="actions">
  <br>
    <%= form.submit %>
  </div>
<%end%>
