<!DOCTYPE html>
<html>
  <head>
    <title>RentARoom</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    
  	<%if user_signed_in?%>
  		<%= current_user.role.name%>--<%= current_user.email %>|
  		<%= link_to "account setting",edit_user_registration_path%>|
  		<%= link_to "sign_out",destroy_user_session_path,method: :delete%>|
      <%if (user_signed_in?) && (can? :create,Amenity.new)%>
        <%=link_to "add amenity",new_amenity_path %>|
      <%end%>
      <%if (user_signed_in?) && (can? :create,City.new)%>
        <%= link_to "add city",new_city_path%>|
      <%end%>
      <%= link_to "rooms",rooms_path%>|        
      <%= link_to "your rooms",room_owner_rooms_path%>|      
      <%= link_to "dashboard",bookings_path%>   
  	<%else%>
  		<%= link_to "sign_up",new_user_registration_path%>|
  		<%= link_to "sign_in",new_user_session_path%>|
  	<%end%>    
  	<%= alert %>
    <%= yield %>
  </body>
</html>
